# dependencies
node_modules/
.pnpm-store/

# build outputs
.next/
dist/
build/
out/
.turbo/

# env
.env
.env.local
.env.*.local

# misc
.DS_Store
*.log
npm-debug.log*
pnpm-debug.log*

# editors
.vscode/*
!.vscode/extensions.json
.idea/

# vite
*.local
